/* Config generalizada de alguns componentes ... ****************/
body{
  padding-top: 85px;
  background-color: #fcfbf83a;
}
/*sub-classes*/
a,a:LINK, a:ACTIVE,a:VISITED{
	text-decoration: none;
	font-size: 15px; 
}
/* 3eff4893 */
/* a:LINK{color: #ffffff;}
a:VISITED{color: #ffffff}
a:ACTIVE{color: #ffffff} */

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
}
/* Lembrando forma de invocar: ***************************
    id:     #
    class   .
  OBS1: A maior parte dos ids aqui representao uma pagina ou arquivo.
    por exemplo:
      index.html:   #index-principael     
      perfil.html:  #perdil

  Casos especificos como o header:
    Nao faria sentido cria um id header para um arquivo header.html,
    ainda com uma tag container principal se chamando header!
    sol.: incovar a tag header diretamente aqui:
      header

  OBS 2: Padrao de boa partica usado:
    1- chamar sempre primeiro o id do arquivo.html!
        Pq? Questao de saber instantaneamente (so olhando)
        ,qual aqruivo esta sendo editado, ou seja, localizao instantanea!
        p.e. #perfil a
             indica que no perfil.html a tag 'a' esta sendo afetada! 
    2- Mesmo evitando cria id para qlqr container, nao eh um pecado cria-lo!
         p.e. #perfil #avatar-img
              eh perfeitamente aceitavel um id para a foto do avatar de perfil!
  ********************************/
#index-principal{
  margin: 12px 16px 0px 15px;/*Retirando a margem do corpo*/
  box-shadow: -2px 5px 24px  #1B1C1C, 12px 19px 2px rgba(0, 0, 0, 0.1),
              -2px 15px 24px #1B1C1C, 12px 195px 2px rgba(0, 0, 0, 0.2);
   /* Sobrear no Bootstrap: shadow-lg */
  background-image: url(../img/back-office5.jpg);
  background-repeat: round repeat;/* encaixa a imagem na div */
  
  max-width: auto;
  max-height: auto;
  width: auto;
  height: auto;
}  

#index-principal .alerta{
  padding: 15px;
}
#index-principal .palicula{
  margin: 0;
  padding: 0;
  background-color: #20180179;
}

#index-principal .singlepage{
  padding-top: 65px;
  padding-bottom: 65px;
}

/* Header ***************************************************/
/* header {
  box-shadow: -2px 5px 24px  #1B1C1C, 9px 19px 2px rgba(0, 0, 0, 0.1);
} */
header .topo-navbar,.topo-navbar-margin,#btn-header-nome{
  box-shadow: -2px 5px 24px  #1B1C1C, 9px 10px 2px rgba(0, 0, 0, 0.1);  
}

header #btn-logo{
  border-radius:48%;
  /* background-color: #255a8b4f; */
  background-image: linear-gradient(to bottom, #7ec98293, #255a8b4f,#255a8b44, #83c08693);
  
}
header #btn-nome a{
  font-size: medium;
}
/* config header.html */
/* header .topo-navbar-margin{  
  background-color: #7ec98293;
  border-radius: 30%;
  padding: 3.8rem;
  z-index: 2;
} */
/* config header2.html */
header .topo-navbar-margin{  
  background-color: #7ec98293;
  border-radius: 30%;
  padding: 3.5rem;
  z-index: 2;
}

header .topo-navbar{  
  background-color: rgb(62, 67, 73);
  padding: 15px;
  z-index: 2;
} 

header .topo-navbar-cor-branco{
  background-color: #ffffff93;/* #472323c2; */
}
header .topo-navbar-cor-amarelo{
  background-color: #c9c87e93;/* #472323c2; */
}
header .topo-navbar-cor-verde{
  background-color: #7ec98293;/* #472323c2; */
}
header .topo-navbar-cor-azul{
  background-color: #2334c793;/* #472323c2; */
}
header .topo-navbar-cor-vermelho{
  background-color: #c0121293;/* #472323c2; */
}
header .topo-navbar-cor-preto{
  background-color: #02020293;/* #472323c2; */
}
header .topo-navbar-cor-branco{
  background-color: #ffffff93;/* #472323c2; */
}
header .topo-navbar-cor-laranja{
  background-color: #c9b17e93;/* #472323c2; */
}
header .topo-navbar-cor-rosa{
  background-color: #c42c7893;/* #472323c2; */
}


header .barra-navbar{
  display: inline-table;
  background-color:#3E4349;
  margin-top: 98px;
  margin-bottom: auto;
  padding-left: 4px;
  padding-right: 9px;
  padding-bottom: 28px;
  border-bottom-right-radius: 2rem;
  max-width: 110px ;
  max-height: 225px;
  z-index: 1;
}

/* main *************************************************/

/* perfil ***********/

#perfil #container-img {
  background-color: #f5eeee;
  /* border-style: ridge; */
  border-radius: 10%;
  box-shadow: 0px 1px #1B1C1C, 7px 9px 2px rgba(0, 0, 0, 0.2);
  color: #489cf0;
  padding:  30px;
  max-width: 470px;
}
#perfil #avatar-img{
  /* background-color: #43555a3b;#6b663e3b */
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-style: double;
  max-width: 100%;
  height: auto;
}

#perfil #btn-perfil{
  /* background-color: rgba(13, 113, 219, 0.918); */
  font-size: 20px;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: rgb(202, 198, 198);
  font-weight: bolder;
  text-transform: uppercase;
  /* text-shadow: 0px 1px #1B1C1C, 7px 10px 2px rgba(0, 0, 0, 0.2); */
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
#perfil hr{
  height: 1.3px;
  font-weight: bolder;
}

#perfil p{
  font-size: 19px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: bolder;
  color: #ffee00cc;
}

#perfil .btn-social{
  box-shadow: 0px 1px #1B1C1C, 7px 10px 2px rgba(0, 0, 0, 0.2);
  /* background-color:rgba(152, 158, 160, 0.918); */
  color: rgb(202, 198, 198);
}

/* competencias ****************************************************/
#competencias{
  background-color: #152b42;/* #2e2d26be; #0b2642ef; rgba(0, 0, 0, 0.473) */
}
#competencias{
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 55px;
  color: #052442;
}
#competencias h3{
  color:rgb(177, 138, 87);
  margin-bottom: 20px;
}
#competencias ui-accordion{
  color: rgb(177, 138, 87);
}


/* Footer */
footer hr {
  height: 1.3px;
}

/* Curriculo */
#curriculo{
  word-wrap: break-word;/*nao deixa o texto sair da div*/  
}
#curriculo article{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
#curriculo header .container-img{
  background-color: #f5eeee;
  border-radius: 10%;
}

#curriculo header .titulo{
  background-color: rgb(20, 53, 104);
}
#curriculo .resumo{
  background-color: rgb(175, 175, 175);
  color: #052442;
}
#curriculo article{
  background-color: #ffffff; 
}

#curriculo #col-corpo{
  font-family: inherit;
  color: #434E5E;
}
#curriculo article h3{
  border-bottom: 1px solid #434E5E;
}
#curriculo #col-lateral{
  background-color: #f0f0f0;
  color: #434E5E;
  text-align: left;
}
