<div id="competencias">
    <div class="bgaccordion d-inline align-items-center flex-column">   
        <!-- ui-accordions: esta diretiva eh pai das duas internas. 
        Foi criada como estratagia de programacao (pode existir outra) para poder fazer 
        a comunicao de eventos (click:abrir/fechar) entre elas. 
        Elas sao diretiva irmas, e sem comunicao. -->
        <h3>Principais competências</h3>
        <ui-accordions><!-- Pai -->

            <ui-accordion title = "Front-end" ><!-- filha -->
                <div class="acc-descricao">
                    <p> + Resumo de algumas das linguaguens, frameworks, ferramentas e tecnologias usadas na produção de front-end. </p>
                    <p> + Já estudadas:</p>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML5</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">CSS3</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">JavaScript</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Bootstrap</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">AngularJS</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">jQuey</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">JSON</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">AJAX</span></li>
                </ul>
            </ui-accordion>

            <ui-accordion title = "Back-end: Java"><!-- filha -->
                <div class="acc-descricao">
                    <p> + Resumo de algumas das linguaguens, frameworks, ferramentas e tecnologias usadas na produção de back-end. </p>
                    <p> + Já estudadas:</p>
                </div>
                <div class="m-2">                
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">JAVA</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">JPA</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Hibernate</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">CDI</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">WildFly</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">TomCat</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">PosgreSQL</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>
                    </ul>
            </div>
            </ui-accordion>
            <ui-accordion title = "Outras competências"><!-- filha -->
                <div class="acc-descricao">
                    <p> + Resumo de ourtras das linguaguens, padrões, frameworks, ferramentas e tecnologias usadas em outras produções.</p>
                    <p> + Já estudadas:</p>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">MVC</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">IoT (PIC, NodeMCU Esp8266, Raspberry Pi)</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Ubuntu</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Windows</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Python</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Linguagem C</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PHP</span></li>
                </ul>
                
            </ui-accordion>
        </ui-accordions>
    </div>   
</div>