<header>
  <nav class="topo-navbar-margin topo-navbar-cor-{{color}} navbar navbar-default navbar-expand-md fixed-top" >

  </nav>
  <div class="pos-f-t fixed-top">                         <!-- faz ocultar ele msm -->
    <div class="collapse" id="navbarToggleExternalContent" data-toggle="collapse" data-target="#navbarToggleExternalContent">
      <div class="d-flex bg-dark">
        <div class="ml-3">
            <a class="btn btn-success p-2" ng-click="setCor('verde')" ></a>        
            <a class="btn btn-primary p-2"  ng-click="setCor('azul')"></a> 
            <a class="btn btn-danger p-2" ng-click="setCor('vermelho')"></a>
            <a class="btn btn-warning p-2" ng-click="setCor('amarelo')"></a>
        </div>
        <div class="ml-auto mr-2">          
          <a class="btn btn-success p-2" ng-click="setCor('verde')" ></a>        
          <a class="btn btn-primary p-2"  ng-click="setCor('azul')"></a> 
          <a class="btn btn-danger p-2" ng-click="setCor('vermelho')"></a>
          <a class="btn btn-warning p-2" ng-click="setCor('amarelo')"></a>
        </div>
      </div>
    </div>

    <nav class="d-flex navbar navbar-dark bg-dark">
      
      <div class="d-flex mt-2">                                   
        <a id="btn-logo" class="navbar-brand p-2" href="" data-toggle="collapse" data-target="#navbarToggleExternalContent">{{usuario.nome | name | ellipsis:0:11}}</a>
        
        <div class=" input-group-append  mr-2">
          <div class="dropdown">            
            <button class=" btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item active " href="#!/perfil">Home </a> 
              <a class="dropdown-item" href="#!/curriculo">Currículo</a>
              <a class="dropdown-item" href="#!/error"> Error </a>
            </div>
          </div>
        </div> 
      </div>

      <div class="d-md-inline-flex">
          <div class=" input-group-append mt-2 mr-2">
            <div>
              <p class="input-group-text mb-0" >@</p>
            </div>
            <div class="dropdown">            
              <button class=" btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                joaojunior7cc
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item active" href="https://github.com/joaojunior7cc">Meu github</a>
                <a class="dropdown-item" href="https://github.com/joaojunior7cc/repositories">Repositórios</a>
              </div>
            </div>
          </div> 
          <!-- Perfil Social Icons -->
          <!-- <div class="input-group-prepend mt-2">
            <a class="btn btn-outline-light btn-social mr-1" href="https://www.facebook.com/joaojunior7cc">
              <i class="fab fa-fw fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-light btn-social mr-1" href="https://twitter.com/joaojunior7cc">
              <i class="fab fa-fw fa-twitter"></i>
            </a>
            <a class="btn btn-outline-light btn-social mr-1" href="https://www.linkedin.com/in/joaojunior7cc">
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
            <a class="btn btn-outline-light btn-social mr-1" href="#">
              <i class="fab fa-fw fa-dribbble"></i>
            </a>
        </div>   -->
    </div>
    </nav>
  </div>
</header>
