<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div id="btn-header-nome" class="navbar-brand">
            <h6>João Júnior</h6>
            <hr class="bg-danger mt-0 d-inline-block mx-auto" style="width: 60px;">
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul  class="navbar-nav mr-auto">
                <li id="btn-header-home" class="nav-item active">
                    <a  class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/joaojunior7cc/repositories">Repositórios</a>
                </li>
                
            </ul>
            <form class="sistema nav navbar-nav ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema<span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="professores.html">Professores</a> </li>
                        <li><a href="professoresabas.html">Professores Abas</a> </li>
                        <li><a href="cursos.html">Cursos</a> </li>
                        <li><a href="cursosabas.html">Cursos Abas</a> </li>
                        <li><a href="cursosjson.html">Cursos JSON</a> </li>
                        <li><a href="#">Alunos</a> </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Turmas </li>
                        <li><a href="#">Horários</a> </li>
                        <li><a href="#">Conhecer a Escola</a> </li>
                    </ul>

                </li>
            </form>
            <!-- <div class="esp-left">
                <input type="text" ng-model="contato.data" name="data" placeholder="Data"  ui-date />
            </div> -->
        </div>
    </nav>

    <div class="div-sub-navbar" ><!--  -->
        <div class="container">
          <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                 <h6 style="visibility: hidden;" class="mb-0">João Júnior</h6>
                </div>
             </div>
        </div>
    </div>
    
</header>