<header>
  <nav class="topo-navbar-margin topo-navbar-cor-{{color}} navbar navbar-default navbar-expand-md fixed-top">
  </nav>
  <div class="pos-f-t fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <!-- <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span> -->
        <div class="p-2 ml-auto ">          
          <!-- <input type="text" ng-model="corbh" placeholder="cor" />   -->
          <a class="btn inline bg-success p-3 " ng-click="setCor('verde')"></a>        
          <a class="btn inline bg-primary p-3"  ng-click="setCor('azul')"></a> 
          <a class="btn inline bg-danger p-3 " ng-click="setCor('vermelho')"></a>
          <a class="btn inline bg-warning p-3 " ng-click="setCor('amarelo')"></a>
        </div>
        <ul class="nav navbar-nav pl-3">
          <li><a class="navbar-btn" href="#!/curriculo">Currículo</a></li>
          <li><a class="navbar-btn" href="#!/error"> Error </a></li>
        </ul>
      </div>
    </div>

    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class=""> 
          <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>        
          </button>  
          <a id="btn-nome" class="ml-3  navbar-brand" href="#!/index.html">{{usuario.nome | name | ellipsis:0:11}}</a>
          <!-- <hr class="bg-danger mt-0 d-inline-block mx-auto" style="width: 10px;"> -->
        </div>

        <div class="">  
          <a class="btn btn-outline-success" href="https://github.com/joaojunior7cc">My GitHub </a>
          <a class="btn btn-outline-success" href="https://github.com/joaojunior7cc/repositories">Repositórios</a>
        </div>  
      </div>
    </nav>
  </div>
</header>
