<header id="header">
  <nav class="topo-navbar-margin topo-navbar-cor-{{color}} navbar navbar-default navbar-expand-md fixed-top" >

  </nav>
  <div class="pos-f-t fixed-top">                         <!-- faz ocultar ele msm -->
    <div class="collapse" id="navbarToggleExternalContent" >
      <div class="d-flex bg-dark">
        <div class="ml-3" data-toggle="collapse" data-target="#navbarToggleExternalContent">
            <a class="btn btn-success p-2" ng-click="setCor('verde')" ></a>        
            <a class="btn btn-primary p-2"  ng-click="setCor('azul')"></a> 
            <a class="btn btn-danger p-2" ng-click="setCor('vermelho')"></a>
            <a class="btn btn-warning p-2" ng-click="setCor('amarelo')"></a>
            <a class="btn btn-light p-2" ng-click="setCor('branco')"></a>
            <a class="btn btn-secondary p-2" ng-click="setCor('cinza')"></a>
            <a class="btn btn-info p-2" ng-click="setCor('aqua')"></a>
        </div>
        <div class="ml-auto d-flex h-50">
          <select name="usersel" id="" ng-Model="usuario" ng-options="usuario.nome for usuario in usuarios">
          </select>
          <button class="btn btn-primary btn-block ml-auto" ng-click="setUser(usuario.id)" data-toggle="collapse" data-target="#navbarToggleExternalContent" >OK</button>
        
        </div>
        <div class="ml-auto mr-2" data-toggle="collapse" data-target="#navbarToggleExternalContent">          
          <a class="btn btn-success p-2" ng-click="setCor('verde')" ></a>        
          <a class="btn btn-primary p-2"  ng-click="setCor('azul')"></a> 
          <a class="btn btn-danger p-2" ng-click="setCor('vermelho')"></a>
          <a class="btn btn-warning p-2" ng-click="setCor('amarelo')"></a>
          <a class="btn btn-light p-2" ng-click="setCor('branco')"></a>
          <a class="btn btn-secondary p-2" ng-click="setCor('cinza')"></a>
          <a class="btn btn-info p-2" ng-click="setCor('aqua')"></a>
        </div>
      </div>
    </div>

    <nav class="d-flex navbar navbar-dark bg-dark">
      
      <div class="d-flex mt-2">                                   
        <a id="btn-logo" class="navbar-brand p-2" href="#!/home" >{{usuario.nome | name | ellipsis:0:11}}</a>
        
        <!-- <div class=" input-group-append  mr-2">
          <div class="dropdown">            
            <button class=" btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item active " href="#!/perfil">Home </a> 
              <a class="dropdown-item" href="#!/curriculo">Currículo</a>
              <a class="dropdown-item" href="#!/error"> Error </a>
            </div>
          </div>
        </div>  -->
      </div>

      <div class="d-md-inline-flex">
          <div class=" input-group-append mt-2 mr-1" >
            <div class="btn-secondary rounded">
              <a class="btn btn-secondary" href=""data-toggle="collapse" data-target="#navbarToggleExternalContent">@</a>
            </div>
            <div class="dropdown">            
              <button class=" btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                joaojunior7cc
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://github.com/joaojunior7cc">+ Meu github</a>
                <a class="dropdown-item" href="https://github.com/joaojunior7cc/repositories">+ Repositórios</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item active " href="#!/home">+ Home </a> 
                <a class="dropdown-item" href="#!/perfil">+ Perfil </a> 
                <a class="dropdown-item" href="#!/curriculo">+ Currículo</a>
                <a class="dropdown-item" href="#!/cursos">+ Cursos</a>
                <a class="dropdown-item" href="#!/error">+ Error </a>
              </div>
            </div>
          </div> 
          <!-- Perfil Social Icons -->
          <!-- <div class="input-group-prepend mt-2">
            <a class="btn btn-outline-light btn-social mr-1" href="https://www.facebook.com/joaojunior7cc">
              <i class="fab fa-fw fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-light btn-social mr-1" href="https://twitter.com/joaojunior7cc">
              <i class="fab fa-fw fa-twitter"></i>
            </a>
            <a class="btn btn-outline-light btn-social mr-1" href="https://www.linkedin.com/in/joaojunior7cc">
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
            <a class="btn btn-outline-light btn-social mr-1" href="#">
              <i class="fab fa-fw fa-dribbble"></i>
            </a>
        </div>   -->
    </div>
    </nav>
  </div>
</header>
