<div id="home" class="">
    <div class="home-container d-md-flex ">
        <!-- <div class="home-menu mr-md-3">
            <div ng-include="'view/avatar.html'"></div>
        </div> -->
        <div class="home-slide card m-auto">
            <div class="home-menu card-header d-md-flex">
                <!-- <a class="btn btn-danger " href="#!/home">Home</a> -->
                <!-- <a class="btn btn-danger" href="#!/perfil">Perfil</a> -->
                <a class="btn btn-danger" href="#!/curriculo">Currículo</a>
                <a class="btn btn-success" href="https://github.com/joaojunior7cc">GitHub</a>
            </div>
            <div class="card-body" ng-include="'lib/slideshow/slideshow.html'"></div>
        </div> 
    </div>

    <div class="container p-3">            
        <div class="row">
            <div class="col-sm-4 mb-3">
                <div class="card text-dark">
                    <div class="card-header">
                      REPO IF
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Container de cógidos</h5>
                      <p class="card-text">Cada pasta é uma projeto diferente com implementações, trabalhos, etc.</p>
                      <a href="https://github.com/joaojunior7cc/ifce" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card text-dark">
                    <div class="card-header">
                      REPO IF
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Container de cógidos</h5>
                      <p class="card-text">Cada pasta é uma projeto diferente com implementações, trabalhos, etc.</p>
                      <a href="https://github.com/joaojunior7cc/ifce" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card text-dark">
                    <div class="card-header">
                      REPO IF
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Container de cógidos</h5>
                      <p class="card-text">Cada pasta é uma projeto diferente com implementações, trabalhos, etc.</p>
                      <a href="https://github.com/joaojunior7cc/ifce" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
   
    </div>
</div>


