<div id="home" class="">
    <div class="home-container d-md-flex ">
        <div class="home-menu mr-md-3">
            <div ng-include="'view/avatar.html'"></div>
        </div>
        <div class="home-slide m-auto">
            <div class="home-menu d-md-flex">
                <!-- <a class="btn btn-danger " href="#!/home">Home</a> -->
                <a class="btn btn-danger" href="#!/perfil">Perfil</a>
                <a class="btn btn-success" href="https://github.com/joaojunior7cc">GitHub</a>
            </div>
            <div ng-include="'lib/slideshow/slideshow.html'"></div>
        </div> 
    </div>
   
</div>


