<div id="menucursos" class="flex-column jumbotron">
    <div class="mb-5">  
        <h2>Cursos concluídos (Em construção...)</h2>
    </div>
    <div class="">
        <ui-accordions class="container  mx-auto"><!-- Pai -->    
            <ui-accordion title = "Minicurso - AngularJS"><!-- filha -->
                <div class="acc-descricao">
                    <p> + Minicurso ministrado por Rodrigo Branas, autor do livro AngularJS Essentials.</p>
                    <p> + Excelente curso ofertado gratuitamente via Youtube:
                        <a href="https://www.youtube.com/watch?v=_y7rKxqPoyg&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb"> Clicando Aqui </a> </p>
                        <br/>
                    <p> + Apesar de ser um minicurso (tiro curto) possui alta qualidade de conteúdo  </p>
                    <p>   e grande profundidade nos assuntos abordados, vale a pena conferir.
                     

                    <p> O resultado da implementação das aulas você poderá conferir logo abaixo: 
                     <a href="#!/angularjs"> Clicando Aqui </a> 
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">AngularJS</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">JavaScript</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML5</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">CSS3</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Bootstrap 3</span></li>
                    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Nodejs</span></li>
                </ul>
                
            </ui-accordion>
        </ui-accordions>
    </div>
        
</div>